* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}
h1 {
    font-family: 'Marcellus SC', serif;
    margin: 0;
    padding: 10px;
    background: #00d9c0;
    color: #fffff3;
    font-size: 1.8em;
}
.subheading {
    padding: 5%;
    background: #030301;
    color: #fffff3;
    text-align: center;
    font-size: 2.3em;
}
.spinner-wrapper {
    text-align: center;
    margin-top: 5%;
}
.users-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-row-gap: 10px;
}
.users-container li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #06c;
}
a:visited {
    color: #06c;
}
article {
    padding: 1%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0.0825rem 0.125rem 0 rgba(3, 3, 3, 0.12), 0 0 0.125rem 0 rgba(3, 3, 3, 0.06);
    margin-top: 1%;
}
article h2 {
    font-family: 'Cormorant SC', serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    margin-top: auto;
}
article p {
    font-weight: 300;
    border-bottom: 0.5px solid #d2d2d2;
    padding-bottom: 1.3rem;
}
.view-button {
    background-color: #ff4365;
    border: none;
    padding: 8px;
    color: #fff;
    border-radius: 5px;
}
.user-section {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 0 0.0825rem 0.125rem 0 rgba(3, 3, 3, 0.12), 0 0 0.125rem 0 rgba(3, 3, 3, 0.06);
    padding-bottom: 20px;
}
.user-section > div:nth-child(1) {
    background-color: #00D9C0;
    color: #030301;
    padding: 5px 10px;
    
}

.user-section > div:nth-child(1) h2 {
    padding-bottom: 0px;
    font-size: 1.5em;
    margin: 16px 5px 0 0;
}

.user-section > div:nth-child(1) p {
    font-size: 1em;
    margin: 0px 5px 16px 0;
}

.user-section > div:nth-child(1) a {
    display: block;
    color: #fffbfa;
    margin: 10px 0;
    line-height: 0px;
    
}

.users-section address {
    display: flex;
    justify-content: space-between;
}

.detail-section {
    border-bottom: 1px solid #d2d2d2;
    padding: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.user-subheading {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 600;
}

a.btn {
    background-color: #ff4365;
    border: none;
    padding: 8px;
    color: #fff;
    border-radius: 5px;
    margin-left: 40%;
}

.margin-bottom {
    margin-bottom: 20px;
}

.comments-container li {
    list-style: none;
}

.comments-container h4 {
    margin: 0;
}

.comments-container p{
    border-bottom: none;
    margin: 0;
}

.user-card {
    box-shadow: 0 0.0825rem 0.125rem 0 rgba(3, 3, 3, 0.12), 0 0 0.125rem 0 rgba(3, 3, 3, 0.06);
    padding: 10px;
}

.user-card div {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 10px;
}

.user-card h2 {
    margin-bottom: 2px;
    font-size: larger;
    color: #ff4365;
}

.user-card p {
    margin-top: 0;
}
